@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F3F1FF;

}

/* nav {
  display: flex;
  background-color: blue;
  width: 1440px;
  height: 80px;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
} */

.img {
  width: 40px;
  display: flex;
  align-items: center;


}

.img div {
  padding: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0%;
}

.container {
  background-color: #FFFFFF;
  width: 870px;
  margin-bottom: 21px;
  border-radius: 5px;
}

.top-players {}

.title {
  color: blue;
  font-size: 24px;
  padding-left: 33px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player {
  display: flex;
}

h3 {
  padding-left: 16px;
  font-size: 18px;
}

.player img {
  width: 56px;
  height: 56px;
  padding-left: 30px;
}

hr {
  border: 1px solid #D1D1D1;
  margin-top: 30px;
}

.blog {
  display: flex;
}

.blog .thumbnail img {
  width: 177px;
  height: 117px;
  padding-left: 30px;
}

.blog-author {
  color: #9F9F9F;
  padding-left: 16px;
}

a {
  text-decoration: none;
}

.blog-title {
  font-size: 20px;
  padding-left: 16px;
}

.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}

.section-title {
  padding-left: 33px;
  color: blue;
}

.course-banner img {
  width: 224px;
  height: 104px;
  padding-left: 30px;
}

.p1 {
  font-size: 20px;
  padding-right: 10px;
  padding-left: 37px;
}

.p2 {
  color: #ED6B4F;
  padding-left: 16px;
  padding-left: 37px;
}

.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #FFC014;
}

.fa-star.empty {
  color: #AEAEAE;
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
  margin-bottom: 25px;
}

.star {
  padding-left: 30px;
}

span {
  padding-left: 25px;
}

.time-duration {
  padding-right: 30px;
  padding-left: 10px;
  background-color: #FFE4E8;
  font-size: 14px;
  border-radius: 20px;
  color: #FF4A60;
}

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }

  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }

  .player,
  .blog,
  .course {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width:688px) and (max-width:992px) {
  .container {
    width: 100%;
  }

  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
}